.subscribe-button{
    background-color: rgb(201, 0, 0);
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    vertical-align: top;
}

.subscribe-button:hover {
    opacity: 0.8;
}

.subscribe-button:active {
    opacity: 0.5;
}

.join-button{
    background-color: white;
    border-color: rgb(6, 95, 212);
    border-style: solid;
    border-width: 1px;
    color: rgb(6, 95, 212);
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.15s,
        color 0.15s;
}

.join-button:hover {
    background-color:rgb(6, 95, 212);
    color: white;

}

.join-button:active {
    opacity: 0.7px;
}

.tweet-button{
    background-color: rgb(29, 155, 240);
    color: white;
    border: none;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-left: 8px;
    transition: box-shadow 0.15s;
    vertical-align: top;
}

.tweet-button:hover {
    box-shadow: 5px 5px 10px rgba( 0, 0, 0, 0.15);

}




.uber-button{
    background-color: black;
    color: white;
    height: 32px;
    width: 100px;
    border: none;
    font-size: 12px;
    margin-left: 530px;
    cursor: pointer;
    transition: opacity 0.15s
}

.uber-button:hover {
    opacity: 0.8;
}

.amazon-button{
    background-color: rgb(255, 216, 20);
    border: none;
    border-radius: 20px;
    height: 30px;
    width: 160px;
    font-size: 14px;
    margin-right: 35px;
    cursor: pointer;
    transition: background-color 0.15s;
}


.amazon-button:hover{
    background-color: rgb(214, 182, 18);
}

.linkedin-button{
    background-color: rgb(10,102,194);
    color: white;
    border: none;
    border-radius: 20px;
    width: 220px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 0.15s;
}

.linkedin-button:hover{
    background-color: rgb(8, 84, 160);    
}

.save-button{
    background-color: white;
    color: rgb(10, 102, 194);
    border-radius: 20px;
    width: 70px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    border-color: rgb(10, 102, 194);
    border-style: solid;
    cursor: pointer;
    transition: border-width 0.15s,
        background-color 0.15s;
}

.save-button:hover{
    border-width: 3px;
    background-color:  rgba(51, 153, 255, 0.05);
}